[Desktop Entry]
Name=GSPSoporte
NoDisplay=true
MimeType=x-scheme-handler/rustdesk;
TryExec=rustdesk
Exec=rustdesk %u
Icon=gspsoporte
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
